.header{
    margin-top: 5.5rem;
}

h1.title{
    font-size: 6rem;
    margin-left: -0.5rem;
}

div.contact{
    margin-left: 2.5rem;
    margin-top: 2rem;
}

h1.contact{
    margin-left: -0.85rem;
}

.icons {
    margin-left: -0.85rem;
    margin-bottom: 2.0rem;
}

.icon {
    margin-right: 1.0rem;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}

.python-circle {
    background: #3572A5;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.js-circle {
    background: #f1e05a;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.sql-circle {
    background: #dad8d8;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.java-circle {
    background: #b07219;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.css-circle {
    background: #563d7c;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.html-circle {
    background: #e34c26;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-item {
    height:525px;
    background: antiquewhite;
}
.carousel-image {
    height:400px;
    width:100%;/*maintain aspect ratio*/
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 400px;
}

.card-body {
    background-color: navajowhite;
}

h5 {
    font-size: calc(0.7em + 1vw) !important;
}

.carousel-caption-info {
    font-size: calc(0.7em + 0.4vw) !important;
}

.language-item {
    position: relative;
    top: -2px;
}

.learn-more {
    width: 90% !important;
    position: relative;
    left: 5%;
}

.accordion-button {
    background-color: whitesmoke !important;
}

.accordion-collapse {
    background-color: whitesmoke;
}