h1.title{
    font-size: 6rem;
    margin-left: -0.5rem;
}

div.contact{
    margin-left: 2.5rem;
    margin-top: 2rem;
}

h1.contact{
    margin-left: -0.85rem;
}

.icons {
    margin-left: -0.85rem;
    margin-bottom: 2.0rem;
}

.icon {
    margin-right: 1.0rem;
    text-decoration: none;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}

.python-circle {
    background: #3572A5;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.js-circle {
    background: #f1e05a;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.sql-circle {
    background: #dad8d8;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.csharp-circle {
    background: #178600;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.java-circle {
    background: #b07219;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.css-circle {
    background: #563d7c;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.html-circle {
    background: #e34c26;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-item {
    height:525px;
    background: #cbc0d3;
}
.carousel-image {
    height:400px;
    width:100%;/*maintain aspect ratio*/
}
.carousel-caption {
    position: relative;
    left: 0;
    top: 385px;
}

.carousel-indicators {
    position: relative;
    top: 500px;
}

h5 {
    font-size: calc(0.8em + 0.5vw) !important;
    color: black;

    /* Deals with centering overflowing text */
    white-space: nowrap;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.carousel-caption-info {
    font-size: calc(0.8em + 0.2vw) !important;
}

.language-item {
    position: relative;
    top: -2px;
}

.learn-more {
    width: 90% !important;
    position: relative;
    left: 5%;
}

.page-break {
    padding: 10px;
}

.accordion-button, .accordion-collapse {
    background-color: #ffe6fd !important;
}

.page-end {
    padding: 2.8vw;
}

.header {
    padding-top: 2rem;
    background-color: #8e9aaf;
    color: black;
}

.resume-button {
    color: #8e9aaf !important;
    background-color: black !important;
}

.info-container {
    background-color: #cbc0d3;
}

.card-body {
    background-color: #8e9aaf;
}
