.header{
    margin-top: 5.5rem;
}

h1.title{
    font-size: 6rem;
    margin-left: -0.5rem;
}

div.contact{
    margin-left: 2.5rem;
    margin-top: 2rem;
}

h1.contact{
    margin-left: -0.85rem;
}

.icons {
    margin-left: -0.85rem;
    margin-bottom: 2.0rem;
}

.icon {
    margin-right: 1.0rem;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-left {
    border-left: 1px solid #ddd;
}